.home-section-7 {
  padding: 60px 60px;
}
.section-7-head {
  text-align: center;
  font-size: 34px;
}
.home-section-7-wrap {
  display: flex;
  align-items: baseline;
  gap: 60px;
  padding: 20px;
}
.section-7-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 500px;

  padding: 40px;
  background-color: #000;
  color: #fff;
}
.section-7-wrap-header {
  font-size: 32px;
}
.section-7-container::-webkit-scrollbar {
  width: 0;
}
.section-7-wrap-container {
  display: flex;
  flex-direction: column;
}
.section-7-wrap-title {
  font-size: 24px;
  font-weight: 700;
}
.section-7-description {
  font-size: 18px;
  line-height: 1.5;
}
@media (max-width: 1366px) {
  .home-section-7 {
    padding: 50px 50px !important;
  }
  .section-7-head {
    font-size: 28px !important;
  }
  .home-section-7-wrap {
    padding: 14px !important ;
  }
  .section-7-container {
    height: 380px !important;
  }
  .section-7-wrap-header {
    font-size: 28px !important;
  }
  .section-7-wrap-title {
    font-size: 20px !important;
  }
  .section-7-description {
    font-size: 16px !important;
  }
}
@media (max-width: 1200px) {
  .home-section-7 {
    padding: 40px 40px !important;
  }
  .section-7-head {
    font-size: 22px !important;
  }
  .home-section-7-wrap {
    padding: 14px !important ;
    flex-direction: column !important;
  }
  .section-7-container {
    height: 260px !important;
  }
  .section-7-wrap-header {
    font-size: 24px !important;
  }
  .section-7-wrap-title {
    font-size: 18px !important;
  }
  .section-7-description {
    font-size: 16px !important;
  }
}
@media (max-width: 944px) {
  .home-section-7 {
    padding: 40px 40px !important;
  }
  .section-7-head {
    font-size: 22px !important;
  }
  .home-section-7-wrap {
    padding: 14px !important ;
    // display: flex;
    flex-direction: column !important;
  }
  .section-7-container {
    height: 180px !important;
  }
  .section-7-wrap-header {
    font-size: 20px !important;
  }
  .section-7-wrap-title {
    font-size: 18px !important;
  }
  .section-7-description {
    font-size: 16px !important;
  }
}
@media (max-width: 704px) {
  .home-section-7 {
    padding: 40px 40px !important;
  }
  .section-7-head {
    font-size: 20px !important;
  }
  .home-section-7-wrap {
    padding: 14px !important ;
    // display: flex;
    flex-direction: column !important;
  }
  .section-7-container {
    height: 140px !important;
  }
  .section-7-wrap-header {
    font-size: 18px !important;
  }
  .section-7-wrap-title {
    font-size: 16px !important;
  }
  .section-7-description {
    font-size: 14px !important;
  }
}
