.dental-implants {
  padding: 0 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dental-implants-header {
    font-size: 44px;
    padding: 80px 80px 20px;
  }
  .dental-implants-wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    // border-bottom: 4px solid #000;
    margin-bottom: 20px;
    .dental-implants-image-container {
      img {
        width: 400px;
        height: 400px;
      }
    }
    .dental-implants-container {
      // border-left: 4px solid #000;
      padding: 20px 60px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      h3 {
        font-size: 34px;
        color: #ba9e66;
      }
      p {
        font-family: "Proza Libre", sans-serif;
        line-height: 1.4;
        color: #777;
        font-size: 16px;
      }
    }
    // flex-direction: column;
  }
  .dental-implants-desc {
    margin-right: 220px;
    // font-family: "Proza Libre", sans-serif;
    width: 600px;
    font-weight: 400;
    display: flex;
    // color: #777;
    flex-direction: column;
    div {
      // background-color: blue;
      display: flex;
      align-items: center;
      gap: 20px;
      svg {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      p {
        display: inline-block;
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1366px) {
  .dental-implants {
    padding: 80px 80px;
  }
  .dental-implants-header {
    font-size: 38px !important;
    padding: 60px 60px 20px !important;
  }
  .dental-implants-wrap {
    .dental-implants-image-container {
      img {
        width: 400px !important;
        height: 400px !important;
      }
    }
    .dental-implants-container {
      padding: 20px 40px !important;
      h3 {
        font-size: 32px !important;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
  .dental-implants-desc {
    div {
      svg {
        height: 20px !important;
        width: 20px !important;
        // font-size: 12px/;
      }
      p {
        font-size: 18px !important;
      }
    }
  }
}
@media (max-width: 1200px) {
  .dental-implants {
    padding: 60px 60px;
  }
  .dental-implants-header {
    font-size: 32px !important;
    padding: 40px 40px 20px !important;
  }
  .dental-implants-wrap {
    .dental-implants-image-container {
      img {
        width: 300px !important;
        height: 300px !important;
      }
    }
    .dental-implants-container {
      padding: 20px 40px !important;
      h3 {
        font-size: 26px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
  }
  .dental-implants-desc {
    div {
      display: flex;
      svg {
        display: none;
        // height: 10px !important;
        // width: 10px !important;
        // font-size: 12px/;
      }
      p {
        // background-color: red;
        font-size: 18px !important;
      }
    }
  }
}
@media (max-width: 944px) {
  .dental-implants {
    padding: 40px 40px;
  }
  .dental-implants-header {
    font-size: 28px !important;
    padding: 20px 20px 0px !important;
  }
  .dental-implants-wrap {
    .dental-implants-image-container {
      img {
        width: 200px !important;
        height: 200px !important;
      }
    }
    .dental-implants-container {
      padding: 20px 20px !important;
      h3 {
        font-size: 24px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
  }
  .dental-implants-desc {
    margin-right: 20px !important;

    div {
      display: flex;
      svg {
        display: none;
        // height: 10px !important;
        // width: 10px !important;
        // font-size: 12px/;
      }
      p {
        // background-color: red;
        font-size: 16px !important;
      }
    }
  }
}
@media (max-width: 704px) {
  .dental-implants {
    padding: 40px 40px;
  }
  .dental-implants-header {
    font-size: 22px !important;
    padding: 20px 20px 0px !important;
  }
  .dental-implants-wrap {
    // display: flex;
    flex-direction: column !important;
    .dental-implants-image-container {
      margin-top: 40px;
      img {
        width: 300px !important;
        height: 240px !important;
      }
    }
    .dental-implants-container {
      padding: 20px 20px !important;
      h3 {
        font-size: 18px !important;
      }
      p {
        font-size: 10px !important;
      }
    }
  }
  .dental-implants-desc {
    margin-left: 80px !important;

    div {
      display: flex;
      svg {
        display: none;
        // height: 10px !important;
        // width: 10px !important;
        // font-size: 12px/;
      }
      p {
        // background-color: red;
        font-size: 14px !important;
      }
    }
  }
}
