.about-us {
}
.about-container-1 {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us-gallery {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.gallery-overlay {
  position: absolute;
  // background-color: rgb(76, 76, 76, 0.5);
  width: 1550px;
  height: 800px;
  top: -40%;
  left: -10%;
  z-index: 2;
}
.about-us-gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  img {
    cursor: url(../../../assets/plus.svg), nesw-resize;
    transition: all 0.9s;
  }
  img:hover {
    transform: scale(1.2);
  }
}
.about-header {
  margin: 0;
  padding: 80px;
  font-weight: 500;

  font-size: 54px;
}
.about-container-2 {
  margin-top: 100px;
  padding: 0px 100px;
  padding-bottom: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-team {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  // background-color: red;
}
.about-team-wrap {
  display: flex;
  // width: 520px;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px 60px;
}
.about-team-header {
  font-size: 34px;
}
.about-team-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-team-row-1 {
  display: flex;
  align-items: center;
  gap: 20px;
  div {
    text-align: left;
  }
}
.about-team-row-2 {
  display: flex;
  align-items: center;
  gap: 36px;
  div {
    text-align: left;
  }
}
.about-team-row-3 {
  display: flex;
  align-items: center;
  gap: 28px;
  div {
    text-align: left;
  }
}
.about-us-gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container-3 {
  display: flex;
  padding: 0px 100px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
}
.about-tech-wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about-tech-container {
  display: grid;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  div:nth-child(2) {
    color: #ba9e66;
  }
  div:nth-child(5) {
    color: #ba9e66;
  }
  div:nth-child(7) {
    color: #ba9e66;
  }
  div:nth-child(4) {
    color: #ba9e66;
  }
}
.about-tech-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  .tech-wrapper {
  }
}
.tech-container {
  display: flex;
  padding: 10px 40px;
  flex-direction: column;
  gap: 0px;
  div {
    line-height: 1.8;
    font-size: 16px;
    color: #777777;
    font-family: "Proza Libre", sans-serif;
  }
}
.tech-container:nth-child(odd) {
  // border-bottom: 2px solid #000;
  border-right: 2px solid #ba9e66;
}
//////////////////////
//////////////////////
//////////////////////
//////////////////////
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1074px;
  // box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  display: flex;
  gap: 40px;
  align-items: center;

  .image-container {
    width: 1000px;
    height: 600px;
    background-image: url("../../../assets//clinic-9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.797);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 3rem;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
}
.modal-btn-left {
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    transform: rotate(180deg);
  }
}
.modal-btn-right {
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-num {
  // background-color: red;
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  top: 5.3rem;
  left: 1rem;
  font-size: 18px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1366px) {
  .about-container-1 {
    padding: 0px 80px !important;
  }
  .about-us-gallery-container {
  }
  .about-header {
    padding: 60px !important;
    font-size: 48px !important;
  }
  .about-container-2 {
    margin-top: 80px !important;
    padding: 0px 80px !important;
    padding-bottom: 80px !important;
  }
  .about-team-wrap {
    padding: 20px 10px !important;
  }
  .about-team-header {
    font-size: 28px !important;
  }
  .about-team-container {
    gap: 10px !important;
    div {
      font-size: 14px !important;
    }
  }
  .about-container-3 {
    padding: 0 80px !important;
    padding-bottom: 80px !important;
  }
  .about-tech-wrap {
    gap: 40px !important;
  }
  .about-tech-container {
    font-size: 18px !important;
  }
  .tech-container {
    padding: 10px 30px !important;
    div {
      font-size: 14px !important;
    }
  }
  .modal {
    max-width: 1074px !important;
    .image-container {
      width: 800px !important;
      height: 500px !important;
    }
  }
  .modal-btn-left {
    width: 200px !important;
    height: 200px !important;
  }
  .modal-btn-right {
    width: 200px !important;
    height: 200px !important;
  }
  .modal-num {
    font-size: 18px !important;
  }
}
@media (max-width: 1200px) {
  .about-container-1 {
    padding: 0px 60px !important;
  }
  .gallery-overlay {
    width: 944px !important;
    height: 300px !important;
  }
  .about-header {
    padding: 40px !important;
    font-size: 42px !important;
  }
  .about-container-2 {
    margin-top: 60px !important;
    padding: 0px 0px !important;
    padding-bottom: 60px !important;
  }
  .about-us-team {
    gap: 40px !important;
    grid-template-columns: 1fr !important;
    // gap: 40px;
  }
  .about-team-wrap {
    padding: 20px 20px !important;
  }
  .about-team-container {
    gap: 0 !important;
  }
  .about-team-header {
    font-size: 18px !important;
  }
  .about-team-container {
    gap: 0px !important;
    div {
      font-size: 12px !important;
    }
  }
  .about-container-3 {
    padding: 0 40px !important;
    padding-bottom: 60px !important;
  }
  .about-tech-wrap {
    gap: 20px !important;
  }
  .about-tech-container {
    font-size: 14px !important;
  }
  .tech-container {
    padding: 4px 20px !important;
    div {
      font-size: 12px !important;
    }
  }
  .modal {
    max-width: 944px !important;
    .image-container {
      width: 600px !important;
      height: 300px !important;
    }
  }
  .btn--close-modal {
    top: -1rem !important;
  }
  .modal-btn-left {
    width: 100px !important;
    height: 100px !important;
  }
  .modal-btn-right {
    width: 100px !important;
    height: 100px !important;
  }
  .modal-num {
    font-size: 16px !important;
    top: 1.5rem !important;
  }
}
@media (max-width: 944px) {
  .about-container-1 {
    // align-items: center !important;
    padding: 0px 40px !important;
  }
  .gallery-overlay {
    width: 800px !important;
    height: 200px !important;
  }
  .about-header {
    padding: 20px !important;
    font-size: 36px !important;
  }

  .about-container-2 {
    margin-top: 40px !important;
    padding: 0px 0px !important;
    padding-bottom: 40px !important;
  }
  .about-us-team {
    gap: 40px !important;
    grid-template-columns: 1fr !important;
    // gap: 40px;
  }
  .about-team-wrap {
    padding: 20px 20px !important;
  }
  .about-team-container {
    gap: 0 !important;
  }
  .about-team-header {
    font-size: 16px !important;
  }
  .about-team-container {
    gap: 0px !important;
    div {
      font-size: 10px !important;
    }
  }
  .about-container-3 {
    padding: 0 20px !important;
    padding-bottom: 40px !important;
  }
  .about-tech-wrap {
    gap: 10px !important;
  }
  .about-tech-container {
    font-size: 12px !important;
  }
  .tech-container {
    padding: 4px 20px !important;
    div {
      font-size: 10px !important;
    }
  }
  .modal {
    max-width: 800px !important;
    .image-container {
      width: 400px !important;
      height: 300px !important;
    }
  }
  .btn--close-modal {
    top: -0.5rem !important;
  }
  .modal-btn-left {
    width: 100px !important;
    height: 100px !important;
  }
  .modal-btn-right {
    width: 100px !important;
    height: 100px !important;
  }
  .modal-num {
    font-size: 16px !important;
    top: 1.5rem !important;
  }
}
@media (max-width: 704px) {
  .about-container-1 {
    padding: 0px 20px !important;
  }
  .about-header {
    padding: 10px !important;
    font-size: 28px !important;
  }

  .about-container-2 {
    margin-top: 40px !important;
    padding: 20px 0px !important;
    // padding-bottom: 40px !important;
  }
  .about-us-team {
    gap: 20px !important;
    grid-template-columns: 1fr !important;
    // gap: 40px;
  }
  .about-team-wrap {
    padding: 20px 20px !important;
    // background-color: red;
  }
  .about-team-container {
    gap: 0 !important;
  }
  .about-team-header {
    font-size: 16px !important;
  }
  .about-team-container {
    gap: 0px !important;
    div {
      font-size: 10px !important;
    }
  }
  .about-container-3 {
    padding: 40px 20px !important;
    // padding-bottom: 40px !important;
  }
  .about-tech-wrap {
    gap: 20px !important;
  }
  .about-tech-container {
    padding: 10px;
    font-size: 12px !important;
  }
  .tech-container {
    padding: 4px 20px !important;
    h3 {
      font-size: 16px !important;
    }
    div {
      font-size: 10px !important;
    }
  }
  .modal {
    max-width: 500px !important;
    .image-container {
      width: 400px !important;
      height: 300px !important;
    }
  }
  .btn--close-modal {
    top: -1.6rem !important;
  }
  .modal-btn-left {
    width: 60px !important;
    height: 60px !important;
  }
  .modal-btn-right {
    width: 60px !important;
    height: 60px !important;
  }
  .modal-num {
    font-size: 16px !important;
    top: 0.5rem !important;
  }
}
@media (max-width: 560px) {
  .about-container-1 {
    padding: 0px 20px !important;
  }
  .about-header {
    padding: 10px !important;
    font-size: 22px !important;
  }

  .about-container-2 {
    margin-top: 40px !important;
    padding: 20px 0px !important;
    justify-content: left;
    // padding-bottom: 40px !important;
  }
  .about-us-team {
    gap: 20px 0px !important;
    display: flex !important;
    flex-wrap: wrap;
    width: 300px;
    // grid-template-columns: 320px !important;
    // background-color: red;
    // gap: 40px;
  }
  .about-team-wrap {
    // background-color: red;
    align-items: center !important;
    padding: 20px 20px !important;
  }
  .about-team-container {
    align-items: center !important;
    gap: 0 !important;
  }
  .about-team-row-1 {
    flex-direction: column;
    gap: 0px !important;
    h4 {
      font-size: 14px !important;
    }
    // background-color: red;
  }
  .about-team-row-2 {
    flex-direction: column;
    gap: 0px !important;
    h4 {
      font-size: 14px !important;
    }
  }
  .about-team-row-3 {
    gap: 0px !important;
    h4 {
      font-size: 14px !important;
    }
    flex-direction: column;
  }
  .about-team-header {
    font-size: 18px !important;
  }
  .about-team-container {
    gap: 0px !important;
    div {
      font-size: 12px !important;
    }
  }
  .about-container-3 {
    padding: 40px 10px !important;
    // padding-bottom: 40px !important;
  }
  .about-tech-wrap {
    gap: 20px !important;
  }
  .about-tech-container {
    padding: 10px;
    font-size: 12px !important;
  }
  .tech-container {
    padding: 4px 10px !important;
    h3 {
      font-size: 14px !important;
    }
    div {
      font-size: 10px !important;
    }
  }
  .modal {
    max-width: 360px !important;
    .image-container {
      width: 320px !important;
      height: 240px !important;
    }
  }
  .btn--close-modal {
    top: -4.6rem !important;
  }
  .modal-btn-left {
    width: 40px !important;
    height: 40px !important;
  }
  .modal-btn-right {
    width: 40px !important;
    height: 40px !important;
  }
  .modal-num {
    font-size: 16px !important;
    top: -2rem !important;
  }
}
