.contact {
  padding: 40px 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  .contact-heading {
    // font-size: 44px;
    align-self: center;
    font-weight: 500;

    font-size: 54px;
    span {
      color: #ba9e66;
    }
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    .contact-wrap {
      padding: 40px 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 80px;
      gap: 20px;
      .contact-wrap-container {
        display: flex;
        gap: 20px;
        align-items: start;

        .contact-num {
          padding: 10px 20px;
          // font-family: "Proza Libre", sans-serif;
          background-color: #000;
          color: #fff;
          display: flex;
          font-size: 24px;
        }
        .contact-cont {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .contact-data {
            font-size: 24px;
            color: #ba9e66;
            // background-colo  r: red;
            font-weight: 700;
          }
          .contact-data-desc {
            color: #777;
            font-weight: 500;
          }
        }
      }
    }
  }
  .contact-container-2 {
    display: flex;
    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid black;
      padding: 80px 100px;
      .contact-form-in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        label {
          font-size: 24px;
          span {
            color: red;
          }
        }
        input {
          font-family: "Proza Libre", sans-serif;
          border: none;
          border-bottom: 1px solid black;
          padding: 10px 10px 10px 5px;
          font-size: 18px;
        }
        input:focus {
          outline: none;
        }
      }
      .form-in-last {
        display: flex;
        textarea {
          font-size: 18px;
          padding: 10px;
          width: 96%;
          height: 160px;
          font-family: "Proza Libre", sans-serif;
        }
        textarea:focus {
          outline: none;
        }
      }
    }
  }
}
.contact-button {
  cursor: pointer;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  background-color: #000000;
  color: #fff;
  position: relative;
  z-index: 1;
}
.contact-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: center bottom;
  background-color: #ba9e66;
  z-index: -1;
  transition: transform 0.3s;
}

.contact-button:hover::after {
  transform: scaleY(1);
  color: #000;
}

@media (max-width: 1366px) {
  .contact {
    padding: 40px 80px 80px !important;
    .contact-heading {
      font-size: 48px !important;
    }
    .contact-image {
      svg {
        height: 48px !important;
        width: 48px !important;
      }
    }
    .contact-data {
      font-size: 20px !important;
    }
    .contact-data-desc {
      font-size: 14px !important;
    }
  }
  .contact-container-2 {
    .contact-form {
      padding: 20px 40px !important;
      .contact-form-in {
        label {
          font-size: 20px !important;
        }
        input {
          padding: 4px 4px !important;
        }
      }
      .form-in-last {
        textarea {
          font-size: 14px !important;
          width: 84% !important;
          height: 120px !important;
        }
      }
    }
  }
  .contact-button {
    padding: 20px 10px !important;
  }
}
@media (max-width: 1200px) {
  .contact {
    padding: 20px 40px 40px !important;
    .contact-heading {
      font-size: 38px !important;
    }
    .contact-image {
      svg {
        height: 36px !important;
        width: 36px !important;
      }
    }
    .contact-data {
      font-size: 16px !important;
    }
    .contact-data-desc {
      font-size: 12px !important;
    }
  }
  .contact-container-2 {
    .contact-form {
      padding: 20px 40px !important;
      .contact-form-in {
        label {
          font-size: 16px !important;
        }
        input {
          padding: 0px 0px !important;
          font-size: 12px !important;
        }
      }
      .form-in-last {
        textarea {
          font-size: 12px !important;
          width: 84% !important;
          height: 120px !important;
        }
      }
    }
  }
  .contact-button {
    padding: 20px 10px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 944px) {
  .contact {
    padding: 20px 40px 40px !important;
    .contact-heading {
      font-size: 36px !important;
    }
    .contact-image {
      svg {
        height: 36px !important;
        width: 36px !important;
      }
    }
    .contact-data {
      font-size: 16px !important;
    }
    .contact-data-desc {
      font-size: 12px !important;
    }
  }
  .contact-container-2 {
    .contact-form {
      padding: 20px 40px !important;
      .contact-form-in {
        label {
          font-size: 16px !important;
        }
        input {
          padding: 0px 0px !important;
          font-size: 12px !important;
        }
      }
      .form-in-last {
        textarea {
          font-size: 12px !important;
          width: 84% !important;
          height: 120px !important;
        }
      }
    }
  }
  .contact-button {
    padding: 20px 10px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 704px) {
  .contact {
    padding: 20px 40px 40px !important;
    .contact-heading {
      font-size: 28px !important;
    }
    .contact-image {
      svg {
        height: 26px !important;
        width: 26px !important;
      }
    }
    .contact-data {
      font-size: 12px !important;
    }
    .contact-data-desc {
      font-size: 9px !important;
    }
  }
  .contact-container-2 {
    .contact-form {
      padding: 20px 30px !important;
      .contact-form-in {
        label {
          font-size: 13px !important;
        }
        input {
          padding: 0px 0px !important;
          font-size: 12px !important;
        }
      }
      .form-in-last {
        textarea {
          font-size: 12px !important;
          width: 84% !important;
          height: 80px !important;
        }
      }
    }
  }
  .contact-button {
    padding: 14px 10px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 560px) {
  .contact {
    padding: 20px 40px 20px !important;
    .contact-heading {
      font-size: 22px !important;
    }
    .contact-wrap {
      padding: 0px 40px !important;
      grid-template-columns: 1fr !important;
      .contact-wrap-container {
        // flex-direction: row !important;
        // background-color: red;
        .contact-cont {
          flex-direction: row !important;
          align-items: center;
          // background-color: red;
          justify-content: center !important;
          // gap: 30px !important;
        }
      }
    }
    .contact-image {
      svg {
        height: 18px !important;
        width: 18px !important;
      }
    }
    .contact-data {
      text-align: left;
      font-size: 12px !important;
      // width: 100px;
    }
    .contact-data-desc {
      text-align: center;
      font-size: 9px !important;
    }
  }
  .contact-container-2 {
    .contact-form {
      border: none !important;
      padding: 0px 0px !important;
      .contact-form-in {
        label {
          font-size: 14px !important;
        }
        input {
          padding: 0px 0px !important;
          font-size: 14px !important;
        }
      }
      .form-in-last {
        textarea {
          font-size: 14px !important;
          width: 84% !important;
          height: 40px !important;
        }
      }
    }
  }
  .contact-button {
    align-self: center;
    padding: 20px 42px !important;
    font-size: 12px !important;
  }
}
